@charset "UTF-8";
:root {
  --primary-text-color: #212121;
  --title-text-color: #757575;
  --accent-color: #2196f3;
  --hover-button-color: #058cf7;
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

body {
  background-color: #ffffff;
  color: var(--title-text-color);
  font-family: var(--primary-font), sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.logo {
  color: #000000;
  font-family: var(--secondary-font), sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo__web {
  color: var(--accent-color);
}
.logo--white {
  display: block;
  margin-bottom: 20px;
  color: #fff;
}

.button {
  -webkit-transition: background-color 250ms var(--timing-function);
  -o-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  border: none;
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: var(--hover-button-color);
}
.button--submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.button--submit__send {
  margin-left: 9px;
}

.social {
  -webkit-transition: background-color 250ms var(--timing-function);
  -o-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
}
.social__svg {
  -webkit-transition: fill 250ms var(--timing-function);
  -o-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
  width: 20px;
  fill: var(--icon-color);
}
.social:hover, .social:focus {
  background-color: var(--accent-color);
}
.social:hover .social__svg, .social:focus .social__svg {
  fill: #fff;
}
.social--white {
  background-color: rgba(255, 255, 255, 0.1);
}
.social__svg--white {
  fill: #fff;
}

.header {
  background-color: #ffffff;
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.site-nav__link {
  position: relative;
  -webkit-transition: color 250ms var(--timing-function);
  -o-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav__link--studio, .site-nav__link--portfolio {
  color: var(--accent-color);
}
.site-nav__link--studio::after, .site-nav__link--portfolio::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.site-nav__item + .site-nav__item {
  margin-left: 50px;
}
.site-nav__link:hover, .site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav--list {
  margin-left: 93px;
}

.address__link:hover,
.address__link:focus,
.address__list:hover,
.address__list:focus {
  color: var(--accent-color);
}

.auth-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.auth-nav__link {
  -webkit-transition: color 250ms var(--timing-function);
  -o-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.auth-nav__icon-envelope {
  -webkit-transition: fill 250ms var(--timing-function);
  -o-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
  margin-right: 10px;
  width: 16px;
  height: 12px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #757575;
}
.auth-nav__icon-smartphone {
  -webkit-transition: fill 250ms var(--timing-function);
  -o-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
  margin-right: 10px;
  width: 10px;
  height: 16px;
  fill: #757575;
}
.auth-nav__item + .auth-nav__item {
  margin-left: 50px;
}
.auth-nav__link:hover, .auth-nav__link:focus {
  color: var(--accent-color);
}
.auth-nav__link:hover .auth-nav__icon-envelope, .auth-nav__link:focus .auth-nav__icon-envelope, .auth-nav__link:hover .auth-nav__icon-smartphone, .auth-nav__link:focus .auth-nav__icon-smartphone {
  fill: var(--accent-color);
}

.hero {
  padding: 200px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #2f303a;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: -o-linear-gradient(left, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.hero__title {
  margin-bottom: 30px;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 350ms var(--timing-function);
  -o-transition: opacity 350ms var(--timing-function);
  transition: opacity 350ms var(--timing-function);
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: inherit;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-width: 528px;
  min-height: 581px;
  border-radius: 4px;
  padding: 40px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.modal-button {
  position: absolute;
  top: 8px;
  right: 8px;
  -webkit-transition: fill 350ms var(--timing-function);
  -o-transition: fill 350ms var(--timing-function);
  transition: fill 350ms var(--timing-function);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid var(--icon-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  cursor: pointer;
}

.modal-button:hover,
.modal-button:focus {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 12px;
}

.form-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.form-label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-bottom: 4px;
  color: #757575;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-box {
  position: relative;
}

.form-input {
  -webkit-transition: border 250ms var(--timing-function);
  -o-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
  padding-right: 10px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-input:focus,
.form-comment:focus {
  border: 1px solid var(--accent-color);
}

.form-input:focus + .form-svg {
  fill: var(--accent-color);
}

.form-svg {
  position: absolute;
  -webkit-transition: fill 250ms var(--timing-function);
  -o-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
  left: 12px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.form-button {
  -webkit-transition: background-color 250ms var(--timing-function);
  -o-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;
  border: none;
  background-color: var(--accent-color);
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.form-button:hover,
.form-button:focus {
  background-color: var(--hover-button-color);
}

.form-comment {
  resize: none;
  -webkit-transition: border 250ms var(--timing-function);
  -o-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
}

.form-comment::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment::-moz-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment:-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment::-ms-input-placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-comment::placeholder {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
  margin-top: 20px;
}

.form-checkbox input {
  margin-right: 7px;
}

.form-condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 14px;
  line-height: 1.71;
}

.form-condition input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.condition-link {
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.condition-icon {
  display: inline-block;
  border: 1px solid var(--primary-text-color);
  border-radius: 4px;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  -webkit-transition: background-color 250ms var(--timing-function);
  -o-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
}

.checkbox:checked + .condition-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: cover;
  background-origin: border-box;
}

.compani-title {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.features__item {
  width: 270px;
  margin-right: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.features__item:last-child {
  margin-right: 0px;
}
.features__icon-block {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f5f4fa;
}
.features__title {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.features__text {
  font-size: 14px;
  line-height: 1.71;
}

.work {
  padding-top: 0;
}
.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.work__item {
  position: relative;
  margin-right: 30px;
}
.work__item:last-child {
  margin-right: 0px;
}
.work__titles {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.work__title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.command {
  background-color: #f5f4fa;
}
.command .command__title {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.command .command__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.command .command__item {
  margin-right: 30px;
}
.command .comand__meta {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 0;
  border-radius: 0px 0px 4px 4px;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.command .comand__img {
  margin-bottom: 0;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.command .command__item:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.command .command__titles {
  margin-bottom: 10px;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}
.command .command__text {
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.socnetwork__list {
  margin-right: auto;
  margin-left: auto;
}

.socnetwork {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.socnetwork__item {
  margin-right: 10px;
}
.socnetwork__item:last-child {
  margin-right: 0;
}

/* ---------------------Постоянные клиенты----------------- */
.clients {
  display: block;
}
.clients__titles {
  margin-bottom: 50px;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.clients__item {
  margin-right: 30px;
}
.clients__item:last-child {
  margin-right: 0;
}

.client {
  -webkit-transition: border 250ms var(--timing-function);
  -o-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.client:hover, .client:focus {
  border: 1px solid var(--accent-color);
}
.client__icon {
  -webkit-transition: fill 250ms var(--timing-function);
  -o-transition: fill 250ms var(--timing-function);
  transition: fill 250ms var(--timing-function);
  fill: var(--icon-color);
}
.client:hover .client__icon, .client:focus .client__icon {
  fill: var(--accent-color);
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.address-block {
  margin-right: 70px;
}

.address-block__logo {
  margin-top: 0;
  margin-bottom: 20px;
}

.address {
  display: block;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__lists {
  display: block;
  color: #ffffff;
  text-decoration: none;
}
.address__link {
  -webkit-transition: color 250ms var(--timing-function);
  -o-transition: color 250ms var(--timing-function);
  transition: color 250ms var(--timing-function);
  display: block;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.connect-block {
  margin-right: 93px;
}

.connect-titles {
  margin-bottom: 20px;
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.connect-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.connect-item {
  margin-right: 10px;
}

.connect-item:last-child {
  margin-right: 0;
}

.connect-link:hover,
.connect-link:focus {
  background-color: var(--accent-color);
}

.connect-link {
  -webkit-transition: background-color 250ms var(--timing-function);
  -o-transition: background-color 250ms var(--timing-function);
  transition: background-color 250ms var(--timing-function);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
}

.connect-svg {
  width: 20px;
  fill: #fff;
}

.subscription {
  display: block;
}
.subscription__titles {
  margin-bottom: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.subscription__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.subscription__input {
  -webkit-transition: border 250ms var(--timing-function);
  -o-transition: border 250ms var(--timing-function);
  transition: border 250ms var(--timing-function);
  padding: 15px 16px;
  margin-right: 12px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2f303a;
  color: #fff;
}
.subscription__input:focus, .subscription__input:hover {
  border-color: var(--hover-button-color);
  outline-color: var(--hover-button-color);
}/*# sourceMappingURL=main.css.map */