.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer-cont {
  display: flex;
  align-items: baseline;
}

.address-block {
  margin-right: 70px;
}
.address-block__logo {
  margin-top: 0;
  margin-bottom: 20px;
}

.address {
  display: block;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }

  &__lists {
    display: block;

    color: #ffffff;

    text-decoration: none;
  }

  &__link {
    transition: color 250ms var(--timing-function);

    display: block;

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
  }
}

.connect-block {
  margin-right: 93px;
}

.connect-titles {
  margin-bottom: 20px;

  color: #fff;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.connect-list {
  display: flex;
}

.connect-item {
  margin-right: 10px;
}

.connect-item:last-child {
  margin-right: 0;
}

.connect-link:hover,
.connect-link:focus {
  background-color: var(--accent-color);
}

.connect-link {
  transition: background-color 250ms var(--timing-function);

  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;

  background-color: rgba(255, 255, 255, 0.1);
}

.connect-svg {
  width: 20px;

  fill: #fff;
}

.subscription {
  display: block;

  &__titles {
    margin-bottom: 20px;

    color: #ffffff;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
  }

  &__form {
    display: flex;
  }

  &__input {
    transition: border 250ms var(--timing-function);

    padding: 15px 16px;
    margin-right: 12px;
    width: 358px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;

    background-color: #2f303a;
    color: #fff;
    &:focus,
    &:hover {
      border-color: var(--hover-button-color);
      outline-color: var(--hover-button-color);
    }
  }
}
